﻿
@{
    ViewBag.Title = "Lập phiếu hiệu chỉnh điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Thông tin phiếu</h4>
    </div>
</div>
@using (Html.BeginForm("InsertScoreCorrection", "ScoreCorrection", FormMethod.Post, new { @id = "frmScoreCorrectionInsert" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Insert" />
    <input type="hidden" id="hdScoreID" name="hdScoreID" value="" />
    <input type="hidden" id="hdListScore" name="hdListScore" value="" />
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-4">Mã người lập phiếu: </label>
                <label class="header-control col-sm-8">@Session["Username"]</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-4">Niên khóa: </label>
                <select class="form-control" id="sltKeyWordYear" data-value="">
                    <option disabled='disabled' selected='selected'>--Xin lựa chọn niên học--</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-4">Học kỳ: </label>
                <select class="form-control" id="sltKeyWordSemeter" data-value="">
                    <option disabled='disabled' selected='selected'>--Xin lựa chọn học kỳ--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-4">Môn học: </label>
                <select class="form-control" id="sltKeyWordSubject" data-value="">
                    <option disabled='disabled' selected='selected'>--Xin lựa chọn môn học--</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-4">Mã học sinh: </label>
                <input class="form-control" id="txtKeyWordStudent" placeholder="" data-value="">
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Điểm hiệu chỉnh</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" id="btnInsertScore" onclick="InsertScore();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Chọn điểm</button>
                </div>
            </div>
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                Điểm
            </div>

            <table width="100%" class="table table-striped table-bordered table-hover" id="tblScore">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">Điểm trước hiệu chỉnh</th>
                        <th colspan="3" class="text-center">Điểm sau hiệu chỉnh</th>
                        <th rowspan="2" style="width:3%;"></th>
                    </tr>
                    <tr>
                        <th>Miệng</th>
                        <th>15 phút</th>
                        <th>45 phút</th>
                        <th>Miệng</th>
                        <th>15 phút</th>
                        <th>45 phút</th>
                    </tr>
                </thead>
                <tbody id="ContentScore">
                    <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertScoreCorrection();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Lập phiếu</button>
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>
<!-- Modal điểm -->
<div class="modal fade" id="ModalScore" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseInsertScore();" id="btnChoose">&times;</button>
                <h4 class="modal-title">Chọn điểm</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row area-control">
                            <div class="col-sm-12">
                                <div class="form-inline">
                                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="SearchScore();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading">
                                        Điểm
                                    </div>

                                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblModelScore">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Niên học</th>
                                                <th>Học kỳ</th>
                                                <th>Mã MH</th>
                                                <th>Mã học sinh</th>
                                                <th>Điểm miệng</th>
                                                <th>Điểm 15 phút</th>
                                                <th>Điểm 45 phút</th>
                                                <th style="width:3%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContentModelScore">
                                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="divPaging" style="display:none;">
                            <div class="col-sm-6">
                                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
                            </div>
                            <div class="col-sm-6" id="divPagingIndex">
                                <ul id="paging" class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseInsertScore();">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
</script>
<script src="~/Scripts/CustomScripts/ScoreCorrection/DefaultScoreCorrection.js"></script>
<script src="~/Scripts/CustomScripts/ScoreCorrection/InsertUpdateScoreCorrection.js"></script>
}

