﻿@model DTO.ScoreCorrectionDTO

@{
    ViewBag.Title = "Chi tiết phiếu hiệu chỉnh điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">@ViewBag.Title</h4>
    </div>
</div>
@using (Html.BeginForm("SetAcceptScoreCorrection", "ScoreCorrection", FormMethod.Post, new { @id = "frmSetAcceptScoreCorrection" }))
{
    <input type="hidden" id="hdScoreCorrectionID" name="hdScoreCorrectionID" value="@(Model.ScoreCorrectionID)" />

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Mã phiếu: </label>
                <label class="header-control col-sm-9">@(Model.ScoreCorrectionID)</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Trạng thái phiếu: </label>
                @{
                    string status = "Đang chờ";
                    if (Model.IsAccepted == "True") {
                        status = "Đã hiệu chỉnh";
                    }
                    else 
                    if (Model.IsAccepted == "False") {
                        status = "Không hiệu chỉnh";
                    }
                }
                <label class="header-control col-sm-9">@(status)</label>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Mã người lập: </label>
                <label class="header-control col-sm-9">@(Model.UserCreateID)</label>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Mã người xử lý: </label>
                <label class="header-control col-sm-9">@(Model.UserDecideID)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Niên khóa: </label>
                <label class="header-control col-sm-9">@(Model.Year)</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Học kỳ: </label>
                <label class="header-control col-sm-9">@(Model.Semester)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Môn học: </label>
                <label class="header-control col-sm-9">@(Model.SubjectID)</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Mã học sinh: </label>
                <label class="header-control col-sm-9">@(Model.StudentID)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Ngày lập: </label>
                <label class="header-control col-sm-9">@(Model.InsertedDatetime)</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-inline">
                <label class="header-control col-sm-3">Ngày xử lý: </label>
                <label class="header-control col-sm-9">@(Model.UserDecideID != "" ? Model.LastModified : null)</label>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Điểm hiệu chỉnh</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                Điểm
            </div>

            <table width="100%" class="table table-striped table-bordered table-hover" id="tblScore">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">Điểm trước hiệu chỉnh</th>
                        <th colspan="3" class="text-center">Điểm sau hiệu chỉnh</th>
                    </tr>
                    <tr>
                        <th>Miệng</th>
                        <th>15 phút</th>
                        <th>45 phút</th>
                        <th>Miệng</th>
                        <th>15 phút</th>
                        <th>45 phút</th>
                    </tr>
                </thead>
                <tbody id="ContentScore">
                    @if (Model.lstScoreCorrectionDetail != null && Model.lstScoreCorrectionDetail.Count() > 0)
                    {
                        int lstCnt = Model.lstScoreCorrectionDetail.Count();
                        <tr>
                            @for (int j = 0, k = 0; j < 3; j++)
                            {
                                if (k < lstCnt && j == Convert.ToInt32(Model.lstScoreCorrectionDetail[k].ScoreType))
                                {
                                    <td>@Model.lstScoreCorrectionDetail[k].ScoreOld</td>
                                    k++;
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            @for (int j = 0, k = 0; j < 3; j++)
                            {
                                if (k < lstCnt && j == Convert.ToInt32(Model.lstScoreCorrectionDetail[k].ScoreType))
                                {
                                    <td>@Model.lstScoreCorrectionDetail[k].ScoreNew</td>
                                    k++;
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        </tr>
                    }
                    else
                    {
                        <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            @if (Model.UserDecideID == "" && ViewBag.UpdatePermission != false)
            {
                @*<button type="button" class="btn btn-primary" id="btnEdit" onclick="EditScoreCorrection();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>*@
                <button type="button" class="btn btn-primary" id="btnAccept" onclick="SetAcceptScoreCorrection(@(Model.ScoreCorrectionID),true);" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chấp nhận</button>
                <button type="button" class="btn btn-primary" id="btnNotAccept" onclick="SetAcceptScoreCorrection(@(Model.ScoreCorrectionID),false);" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Không chấp nhận</button>
            }
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

@section Scripts
{
@*<script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
    </script>*@
<script src="~/Scripts/CustomScripts/ScoreCorrection/DefaultScoreCorrection.js"></script>
<script src="~/Scripts/CustomScripts/ScoreCorrection/DetailScoreCorrection.js"></script>
}

