﻿
@{
    ViewBag.Title = "Quản lý phiếu xin chỉnh điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section heads
{
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />

        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <span id="containersltYear">
                            <select class="form-control" id="sltKeyWordYear" data-value="">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn niên học--</option>
                            </select>
                        </span>
                        <select class="form-control" id="sltKeyWordSemeter" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn học kỳ--</option>
                            <option value="1">Học kỳ: 1</option>
                            <option value="2">Học kỳ: 2</option>
                        </select>
                        <select class="form-control" id="sltKeyWordSubject" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn môn học--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="txtKeyWordStudentID" placeholder="Mã học sinh cần tìm" data-value="">
                        @*<input class="form-control" id="txtKeyWord" placeholder="Nội dung tìm" data-value="">*@
                    </div>
                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="SearchScoreCorrection();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>

        @if (ViewBag.InsertPermission != false)
        {
            <div class="row area-control">
                <div class="col-sm-12">
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertScoreCorrection();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Lập phiếu</button>
                    </div>
                </div>
            </div>
            
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Quản lý phiếu xin chỉnh điểm
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblScoreCorrection">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">STT</th>
                                <th rowspan="2" class="text-center">NH</th>
                                <th rowspan="2" class="text-center">HK</th>
                                <th rowspan="2" class="text-center">Mã MH</th>
                                <th rowspan="2" class="text-center">Mã người lập phiếu</th>
                                <th rowspan="2" class="text-center">Mã học sinh</th>
                                <th colspan="3" class="text-center">Điểm trước hiệu chỉnh</th>
                                <th colspan="3" class="text-center">Điểm sau hiệu chỉnh</th>
                                <th rowspan="2" class="text-center">Trạng thái phiếu</th>
                                <th rowspan="2" class="text-center">Xử lý</th>
                            </tr>
                            <tr>
                                <th>Miệng</th>
                                <th>15 phút</th>
                                <th>45 phút</th>
                                <th>Miệng</th>
                                <th>15 phút</th>
                                <th>45 phút</th>
                            </tr>
                        </thead>
                        <tbody id="ContentScoreCorrection">
                            <tr><td colspan="100%" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal fade" id="ModalConfirmDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>

            <div class="modal-body">
                <div id="divMessage" data-id=""></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleleScoreCorrection();">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/ScoreCorrection/DefaultScoreCorrection.js"></script>
    <script src="~/Scripts/CustomScripts/ScoreCorrection/ManageScoreCorrection.js"></script>

}
