﻿
@{
    ViewBag.Title = "Thêm giáo viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-blue">
    <div class="panel-heading">
        Thêm giáo viên
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                @using (Html.BeginForm("InsertEmployees", "Employees", FormMethod.Post, new { @id = "frmEmployeesInsert" }))
                {
                    <input type="hidden" id="hdFormType" name="hdFormType" value="Insert" />
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Họ:</label>
                            <input class="form-control col-lg-6" name="tbxHo" id="tbxHo" value="">
                        </div>
                        <div class="form-group col-lg-6">

                            <label>Tên:</label>
                            <input class="form-control col-lg-6" name="tbxTen" id="tbxTen" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-4">

                            <label>Địa chỉ:</label>
                            <input class="form-control col-lg-4" name="tbxAddress" id="tbxAddress" value="">
                        </div>
                        <div class="form-group col-lg-4">

                            <label>Tên đường:</label>
                            <input class="form-control col-lg-4" name="tbxDistrict" id="tbxDistrict" value="">
                        </div>
                        <div class="form-group col-lg-4">

                            <label>Thành phố:</label>
                            <input class="form-control col-lg-4" name="tbxCity" id="tbxCity" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Số điện thoại:</label>
                            <input class="form-control" id="tbxSDT" name="tbxSDT" value="">
                        </div>

                        <div class="form-group col-lg-6">

                            <label>Email:</label>
                            <input class="form-control" id="tbxEmail" name="tbxEmail" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Chức vụ:</label>
                            <select class="form-control" name="sltKeyWordRole" id="sltKeyWordRole">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn chức vụ--</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6">

                            <label>Mật khẩu:</label>
                            <input class="form-control" type="password" name="tbxPass" id="tbxPass" value="">
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <button type="submit" class="btn btn-primary" id="btnXacNhan" onclick="return validationform()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-check"></i>Xác nhận</button>
                        </div>
                        <div class="form-group col-lg-6">
                            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
                        </div>
                        

                    </div>
                }
            </div>

        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>


@section Scripts
{
    <script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
    </script>

    <script src="~/Scripts/CustomScripts/Employees/InsertUpdateEmloyees.js"></script>
}

