﻿@model DTO.EmployeesDTO
@{
    ViewBag.Title = "Chi tiết giáo viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Chi tiết giáo viên</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <input type="hidden" id="hdEmployeeID" value="@(Model.EmployeesID)" />
                <label class="header-control col-sm-2">Mã giáo viên: </label>
                <label class="header-control col-sm-9">@(Model.EmployeesID)</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <label class="header-control col-sm-2">Họ Tên: </label>
                <label class="header-control col-sm-9">@(Model.strLastName) @(Model.strFirstName)</label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <label class="header-control col-sm-2">Địa chỉ: </label>
                <label class="header-control col-sm-9">@(Model.strAddress) @(Model.strDistrict) @(Model.strCity)</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <label class="header-control col-sm-2">Số điện thoại: </label>
                <label class="header-control col-sm-9">@(Model.strSDT)</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <label class="header-control col-sm-2">Email: </label>
                <label class="header-control col-sm-9">@(Model.strEmail)</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="form-inline">
                <label class="header-control col-sm-2">Chức vụ: </label>
                <label class="header-control col-sm-9">@(Model.strRole)</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            @if (ViewBag.UpdatePermission != false)
            {
                <button type="button" class="btn btn-primary" id="btnEdit" onclick="EditEmployees();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>
                    
            }

            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>            

             



@section Scripts
{
    @*<script type="text/javascript">
            var visiblePages = "@ViewBag.intVisiblePages";
        </script>*@
    <script src="~/Scripts/CustomScripts/Employees/DetailEmloyees.js"></script>
}
