﻿@model DTO.EmployeesDTO
@{
    ViewBag.Title = "Cập nhật giáo viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-blue">
    <div class="panel-heading">
        Sửa giáo viên
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                @using (Html.BeginForm("UpdateEmployee", "Employees", FormMethod.Post, new { @id = "frmEmployeesUpdate" }))
                {
                    <input type="hidden" id="hdFormType" name="hdFormType" value="Update" />
                <input type="hidden" id="RoleIDhidden" name="RoleIDhidden" value="@(Model.strRoleID)" />
                    <input type="hidden" id="hdEmployeeID" value="@(Model.EmployeesID)" />
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">

                            <label>Mã giáo viên:</label>
                            <input class="form-control col-lg-12" name="tbxMGV" id="tbxMGV" readonly value="@(Model.EmployeesID)">
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Họ:</label>
                            <input class="form-control col-lg-6" name="tbxHo" id="tbxHo" value="@(Model.strLastName)">
                        </div>
                        <div class="form-group col-lg-6">

                            <label>Tên:</label>
                            <input class="form-control col-lg-6" name="tbxTen" id="tbxTen" value="@(Model.strFirstName)">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-4">

                            <label>Địa chỉ:</label>
                            <input class="form-control col-lg-4" name="tbxAddress" id="tbxAddress" value="@(Model.strAddress)">
                        </div>
                        <div class="form-group col-lg-4">

                            <label>Tên đường:</label>
                            <input class="form-control col-lg-4" name="tbxDistrict" id="tbxDistrict" value="@(Model.strDistrict)">
                        </div>
                        <div class="form-group col-lg-4">

                            <label>Thành phố:</label>
                            <input class="form-control col-lg-4" name="tbxCity" id="tbxCity" value="@(Model.strCity)">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Số điện thoại:</label>
                            <input class="form-control" id="tbxSDT" name="tbxSDT" value="@(Model.strSDT)">
                        </div>

                        <div class="form-group col-lg-6">

                            <label>Email:</label>
                            <input class="form-control" id="tbxEmail" name="tbxEmail" value="@(Model.strEmail)">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Chức vụ:</label>
                            <select class="form-control" name="sltKeyWordRole" id="sltKeyWordRole">
                                <option selected hidden value="@(Model.strRoleID)">@(Model.strRole)</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">
                            <button type="submit" class="btn btn-primary" id="btnXacNhan" onclick="return validationform()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-check"></i>Xác nhận</button>
                            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManageUpdate();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
                        </div>

                        
                    </div>
                }
            </div>

        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>


@section Scripts
{
    <script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
    </script>

    <script src="~/Scripts/CustomScripts/Employees/InsertUpdateEmloyees.js"></script>
}




