﻿
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />
        <input type ="hidden" id="hdCurRowBeforeDelOnScreen" name="hdCurRowBeforeDelOnScreen" value="" />

        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" id="txtKeyWord" placeholder="Nội dung tìm kiếm" data-value="">
                    </div>
                    <button type="button" class="btn btn-primary" id="btnSearch"  data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        @if (ViewBag.InsertPermission != false)
        {
            <div class="row area-control">
                <div class="col-sm-12">
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertEmployees();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        quản lý giáo viên
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblEmployees">
                        <thead>
                            <tr>
                                <th style="width:3%;">STT</th>
                                <th style="width:8%;">Mã</th>
                                <th>Tên</th>
                                <th style="width:7%;">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody id="ContentEmployees">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal fade" id="ModalConfirmDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>

            <div class="modal-body">
                <div id="divMessage" data-id = ""></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleleEmployees();">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/Employees/ManageEmloyees.js"></script>
}




