﻿@{
    ViewBag.Title = "Quản lý khai báo cấu hình";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">QUẢN LÝ HỆ THỐNG</h4>
    </div>
</div>
@using (Html.BeginForm("SystemSettingsUpdate", "SystemSettings", FormMethod.Post, new { @id = "frmSystemSettingsUpdate" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Update" />
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Cài đặt
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <input class="form-control " id="txtSettingID" name="txtSettingID" value="@Model.SettingID" type="hidden" />

                                        <div class="form-group col-lg-12 form-inline">

                                            <label>Tuổi quy định: &nbsp;</label>
                                            <span> từ &nbsp;</span>
                                             <input class="form-control " id="txtMinimumAged" name="txtMinimumAged" placeholder="Vui lòng nhập tuổi tối thiếu" value="@Model.MinimumAged" style="width:50px"/>
                                             <span> đến &nbsp;</span>
                                             <input class="form-control " id="txtMaximumAged" name="txtMaximumAged" placeholder="Vui lòng nhập tuổi tối đa" value="@Model.MaximumAged"  style="width:50px">
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12 form-inline">
                                            <label>Sĩ số lớp tối đa: &nbsp; </label>
                                            <input class="form-control" id="txtMaximumStudentNumber" name="txtMaximumStudentNumber" placeholder="Vui lòng nhập sĩ số lớp tối đa" value="@Model.MaximumStudentNumber" style="width:50px">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12 form-inline">
                                            <label>Điểm chuẩn xếp loại:  &nbsp;</label>
                                            <input class="form-control" name="txtStandardScore" id="txtStandardScore" placeholder="Vui lòng chọn nhập điểm xếp loại" value="@Model.StandardScore" style="width:50px">
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
                @if (ViewBag.EditPermission)
                {
                    <button type="button" class="btn btn-primary" id="btnEdit" onclick="AllowEdit();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateSystemSettings();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Lưu Thay đỗi</button>
                    <button type="button" class="btn btn-default" id="btnRefresh" onclick="RefreshPage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-refresh"></i>Làm lại</button>
                }
              <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
       
         </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/SystemSettings/ManageSystemSettings.js"></script>
}
