﻿@{
    ViewBag.Title = "Thêm khai báo cấu hình";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Nội dung chính</h4>
    </div>
</div>
@using (Html.BeginForm("InsertSystemSettings", "SystemSettings", FormMethod.Post, new { @id = "frmSystemSettingsInsert" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Insert" />
    
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Giá trị</label>
                    <input class="form-control col-sm-9" style="width:60%;" id="txtValue" name="txtValue" maxlength="10">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Mô tả</label>
                    <textarea rows="2" class="form-control col-sm-9" style="width:60%;" id="txtObject" name="txtObject" maxlength="50"></textarea>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertSystemSettings();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/CustomScripts/SystemSettings/InsertUpdateSystemSettings.js"></script>
}

