﻿
@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />
        <input type="hidden" id="hdCurRowBeforeDelOnScreen" name="hdCurRowBeforeDelOnScreen" value="" />
        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <span id="containersltYear">
                            <select class="form-control" id="sltKeyWordYear" placeholder="Niên khóa" data-value="">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn niên khóa học--</option>
                            </select>
                        </span>
                        <span id="containerslstClass">
                            <select class="form-control" id="sltKeyWordClass" placeholder="Lớp" data-value="">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn lớp học--</option>
                            </select>
                        </span>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="GetStudentsByClassID();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        @if (ViewBag.InsertPermission)
        {
        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" id="btnAddStudentToClass" onclick="GetStudentListByGrade();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-downloads"></i>Thêm học sinh</button>
                </div>
            </div>

        </div>
         }
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Quản lý học sinh
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover " id="tblEmloyeeRoles">
                        <thead>
                            <tr>
                                <th style="width:125px;">Mã Học Sinh</th>
                                <th style="width:100px;">Họ </th>
                                <th style="width:200px;">Tên</th>
                                <th style="width:75px;">Giới tính</th>
                                <th style="width:75px;">Năm sinh</th>
                                <th style="width:300px;">Địa chỉ</th>
                                <th style="width:7%;">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody id="ContentStudents">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>tổng sĩ số</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-refresh"></i>Làm lại</button>
        </div>
    </div>
</div>
<!-- Modal danh sách học sinh chưa có lớp -->
<div class="modal fade" id="ModalStudentList" role="dialog">
    <div class="modal-dialog" style="width:993px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm học sinh chưa được xếp lớp</h4>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("InsertStudentToClass", "ClassesStudents", FormMethod.Post, new { @id = "frmClassesStudentsUpdate" }))
                {
                    <input type="hidden" id="hdStudentsList" name="hdStudentsList" value="" />
                    <input type="hidden" id="studentNumber" name="studentNumber" value="" />

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-blue">
                                <div class="panel-heading" style="width:960px">
                                    Danh sách học sinh
                                </div>
                                <table class="table table-hover table-fixed" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-1">STT</th>
                                            <th class="col-xs-2">Mã Học Sinh</th>
                                            <th class="col-xs-3">Họ Và Tên</th>
                                            <th class="col-xs-1" style="padding-left:0">Năm sinh</th>
                                            <th class="col-xs-1" style="padding-left:0">Giới Tính</th>
                                            <th class="col-xs-3">Địa chỉ</th>
                                            <th class="col-xs-1">Xử lý</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ContentStudentsModal"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="row area-control">
                            <div class="form-inline group-submit">
                                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateStudentToClass();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Lưu Danh Sách Lớp</button>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal xác nhận xóa -->
<div class="modal fade" id="ModalConfirmDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>

            <div class="modal-body">
                <div id="divMessage" data-id=""></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleleStudent();">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
        var intmaximumStudentNumber = "@ViewBag.intMaximumStudentNumber";
        $(function () {
            $(document).tooltip();
           
        });
     
    </script>
    <script src="~/Scripts/CustomScripts/ClassesStudents/ClassesStudentsManagement.js"></script>
}


