﻿@model DTO.StudentsDTO
@{
    ViewBag.Title = "Thêm nhóm người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">QUẢN LÝ HỌC SINH</h4>
    </div>
</div>
@using (Html.BeginForm("StudentsUpdate", "Students", FormMethod.Post, new { @id = "frmStudentsUpdate" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Update" />
    <input type="hidden" id="hdListFamilyMember" name="hdListFamilyMember" value="" />

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Cập nhật thông tin học sinh ID: <label >@Model.StudentID</label>
                        <input name="txtStudentID" id="txtStudentID" value="@Model.StudentID" hidden />
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Họ</label>
                                            <input class="form-control " id="txtLastName" name="txtLastName" placeholder="Vui lòng nhập Họ" value="@Model.LastName">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Tên</label>
                                            <input class="form-control col-lg-6" id="txtFirstName" name="txtFirstName" placeholder="Vui lòng nhập Tên " value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Ngày sinh</label>
                                            <input class="form-control" name="txtBirthday" id="txtBirthday" readonly placeholder="Vui lòng chọn ngày sinh" value="@Model.Birthday.ToString("dd-MM-yyyy")">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Năm tốt nghiệp</label>
                                            <input class="form-control" name="txtGraduationYear" id="txtGraduationYear"  placeholder="Vui lòng nhập năm tốt nghiệp" value="@Model.GraduationYear">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Trình độ</label>
                                            <input class="form-control" name="txtGrade" id="txtGrade"  placeholder="Vui lòng nhập trình độ" value="@Model.Grade ">
                                        </div>
                                        <div class="form-group col-lg-6">

                                            <label>Năm nhập học</label>
                                            <input class="form-control" name="txtGrade" id="txtYearOfAdmission" placeholder="Vui lòng nhập trình độ" value="@Model.YearOfAdmission ">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12">
                                            <label>Giới tính</label>
                                            @if (Model.Gender == "1")
                                            {
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoGender" id="rdoGender" value="1" checked> Nam
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoGender" id="rdoGender" value="2"> Nữ
                                                </label>
                                            }
                                            @if (Model.Gender == "2")
                                            {
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoGender" id="rdoGender" value="1" > Nam
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoGender" id="rdoGender" value="2" checked> Nữ
                                                </label>
                                            }


                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12">
                                            <label>Địa chỉ</label>
                                            <input class="form-control col-lg-6" id="txtAddress" name="txtAddress" placeholder="Vui lòng nhập Địa chỉ " value="@Model.Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Quận/Huyện</label>
                                            <input class="form-control col-lg-6" id="txtDistrict" name="txtDistrict" placeholder="Vui lòng nhập Quận hoặc Huyện"value="@Model.District">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Tỉnh/Thành Phố</label>
                                            <input class="form-control " id="txtCityProvince" name="txtCityProvince" placeholder="Vui lòng nhập Tỉnh/Thành phố" value="@Model.CityProvince">

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Quốc Gia</label>
                                            <input class="form-control col-lg-6" id="txtCountry" name="txtCountry" placeholder="Vui lòng nhập Tên nước "value="@Model.Country">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Mã Bưu Điện</label>
                                            <input class="form-control" id="txtPostalCode" name="txtPostalCode" placeholder="Vui lòng nhập Mã bưu điện" value="@Model.PostalCode">

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Số điện thoại</label>
                                            <input class="form-control col-lg-6" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Vui lòng nhập Số điện thoại " value="@Model.PhoneNumber">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Email</label>
                                            <input class="form-control " id="txtEmailAddress" name="txtEmailAddress" placeholder="Vui lòng nhập Email" value="@Model.EmailAddress">

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="row area-control">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            <button type="button" class="btn btn-primary" id="btnInsertFamilyMember" onclick="OpenModalInsertFamilyMember();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm người thân</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Danh Sách Người Thân
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblFamilyList">
                        <thead>
                            <tr>
                                <th style="width:5%">STT</th>
                                <th>Họ và tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th style="width:10%">Mối quan hệ</th>
                                <th style="width:5%">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody id="ContentTableList">
                            @if (Model.lstFamilyMember.Count > 0)
                            {
                                for (int i = 0; i < Model.lstFamilyMember.Count; i++)
                                {
                                    <tr  data-name='trcontent'>
                                        <td data-name='STT'> @(i + 1)</td>
                                        <td data-name='txtFamilyName'> @Model.lstFamilyMember[i].Name </td>
                                        <td data-name='txtFamilyPhoneNumber'> @Model.lstFamilyMember[i].PhoneNumber </td>
                                        <td data-name='txtFamilyEmailAddress'>  @Model.lstFamilyMember[i].EmailAddress </td>
                                        @if (String.IsNullOrEmpty(Model.lstFamilyMember[i].Relationship))
                                        {
                                            <td data-name='txtRelationship' data-value=""></td>
                                        }
                                         @if (Model.lstFamilyMember[i].Relationship == "1")
                                        {
                                            <td data-name='txtRelationship'>Cha Mẹ</td>
                                             <td data-name='txtRelationshipvalue' hidden>@Model.lstFamilyMember[i].Relationship</td>

                                         }
                                        @if (Model.lstFamilyMember[i].Relationship == "2")
                                        {
                                            <td data-name='txtRelationship'>Anh Chị</td>
                                            <td data-name='txtRelationshipvalue' hidden>@Model.lstFamilyMember[i].Relationship</td>

                                        }
                                        @if (Model.lstFamilyMember[i].Relationship == "3")
                                        {
                                            <td data-name='txtRelationship'>Cô Chú</td>
                                            <td data-name='txtRelationshipvalue' hidden>@Model.lstFamilyMember[i].Relationship</td>
                                        }

                                        <td><span class='glyphicon glyphicon-remove table-icon' data-name='btnRemoveMember'></span></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="12" class="table-content-null">Hiện không có nội dung</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-primary" id="btnUpdate" onclick="UpdateStudents();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Cập Nhật</button>
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalFamilyMember" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseInsertFamilyMember();">&times;</button>
                <h4 class="modal-title">Thêm thông tin người thân</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <div id="grpFamilyName" class="form-group col-lg-6">

                                            <label>Họ và tên người thân</label>
                                            <input class="form-control col-lg-6" id="txtFamilyName" name="txtFamilyName" placeholder="Vui lòng nhập Họ và tên" maxlength="50">
                                        </div>
                                        <div class="form-group col-lg-6" id="grpRelationship">
                                            <label>Quan hệ với học sinh</label>
                                            <select class="form-control" id="sltRelationship" placeholder="Mối quan hệ" data-value="">
                                                <option value="0" disabled='disabled' selected='selected'>--Xin lựa mối quan hệ--</option>
                                                <option value="1">Cha Mẹ</option>
                                                <option value="2">Anh Chị</option>
                                                <option value="3">Cô Chú</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6" id="grpFamilyPhoneNumber">

                                            <label>Số điện thoại người thân</label>
                                            <input class="form-control col-lg-6" id="txtFamilyPhoneNumber" name="txtFamilyPhoneNumber" placeholder="Vui lòng nhập Số điện thoại " maxlength="15">
                                        </div>
                                        <div class="form-group col-lg-6" id="grpFamilyEmailAddress">
                                            <label>Địa chỉ Email</label>
                                            <input class="form-control " id="txtFamilyEmailAddress" name="txtFamilyEmailAddress" placeholder="Vui lòng nhập Email" maxlength="255">

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="row">

                            <div class="row area-control">
                                <div class="col-sm-12">
                                    <div class="form-inline group-submit">
                                        <button type="button" class="btn btn-primary" id="btnAddFamilyMember" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseModalInsertFamilyMember();">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
        var minimumAged = "@ViewBag.intMinimumAged";
        var maximumAged = "@ViewBag.intMaximumAged";
    </script>
    <script>
        $(function () {

            $("#txtBirthday").datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true
            });
            if ($('#hdFormType').val() == "Insert") {
                $("#txtBirthday").val($.datepicker.formatDate('dd-mm-yy', new Date()));
            }
        });
    </script>
    <script src="~/Scripts/CustomScripts/Students/StudentsInsertUpdate.js"></script>
}

