﻿@model DTO.SystemSettingsDTO
@{
    ViewBag.Title = "Thêm mới học sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Quản lý học sinh</h4>
    </div>
</div>
@using (Html.BeginForm("StudentsInsert", "Students", FormMethod.Post, new { @id = "frmStudentsInsert" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Insert" />
    <input type="hidden" id="hdListFamilyMember" name="hdListFamilyMember" value="" />

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Nhập thông tin học sinh mới
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Họ</label>
                                            <input class="form-control " id="txtLastName" name="txtLastName" placeholder="Vui lòng nhập Họ">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Tên</label>
                                            <input class="form-control col-lg-6" id="txtFirstName" name="txtFirstName" placeholder="Vui lòng nhập Tên ">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Ngày sinh</label>
                                            <input class="form-control" name="txtBirthday" id="txtBirthday" readonly placeholder="Vui lòng chọn ngày sinh">
                                        </div>
                               
                                        <div class="form-group col-lg-6">

                                            <label>Trình độ</label>
                                            <input class="form-control" name="txtGrade" id="txtGrade"  placeholder="Vui lòng nhập trình độ học vấn">
                                        </div>            
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12">
                                            <label>Giới tính</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoGender" id="rdoGender" value="1" checked> Nam
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoGender" id="rdoGender" value="2"> Nữ
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-12">
                                            <label>Địa chỉ</label>
                                            <input class="form-control col-lg-6" id="txtAddress" name="txtAddress" placeholder="Vui lòng nhập Địa chỉ ">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Quận/Huyện</label>
                                            <input class="form-control col-lg-6" id="txtDistrict" name="txtDistrict" placeholder="Vui lòng nhập Quận hoặc Huyện ">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Tỉnh/Thành Phố</label>
                                            <input class="form-control " id="txtCityProvince" name="txtCityProvince" placeholder="Vui lòng nhập Tỉnh/Thành phố">

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Quốc Gia</label>
                                            <input class="form-control col-lg-6" id="txtCountry" name="txtCountry" placeholder="Vui lòng nhập Tên nước ">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Mã Bưu Điện</label>
                                            <input class="form-control" id="txtPostalCode" name="txtPostalCode" placeholder="Vui lòng nhập Mã bưu điện">

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Số điện thoại</label>
                                            <input class="form-control col-lg-6" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Vui lòng nhập Số điện thoại ">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Email</label>
                                            <input class="form-control " id="txtEmailAddress" name="txtEmailAddress" placeholder="Vui lòng nhập Email">

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="row area-control">
                    <div class="col-sm-12">
                        <div class="form-inline">
                            <button type="button" class="btn btn-primary" id="btnInsertFamilyMember" onclick="OpenModalInsertFamilyMember();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm người thân</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Danh Sách Người Thân
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblFamilyList">
                        <thead>
                            <tr>
                                <th style="width:5%">STT</th>
                                <th>Họ và tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th style="width:10%">Mối quan hệ</th>
                                <th style="width:5%">Xử lý</th>
                            </tr>
                        </thead>
                        <tbody id="ContentTableList">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertStudents();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalFamilyMember" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseInsertFamilyMember();">&times;</button>
                <h4 class="modal-title">Thêm thông tin người thân</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <div id="grpFamilyName" class="form-group col-lg-6">

                                            <label>Họ và tên người thân</label>
                                            <input class="form-control col-lg-6" id="txtFamilyName" name="txtFamilyName" placeholder="Vui lòng nhập Họ và tên" maxlength="50">
                                        </div>
                                        <div class="form-group col-lg-6" id="grpRelationship">
                                            <label>Quan hệ với học sinh</label>
                                            <select class="form-control" id="sltRelationship" placeholder="Mối quan hệ" data-value="">
                                                <option value="0" disabled='disabled' selected='selected'>--Xin lựa mối quan hệ--</option>
                                                <option value="1">Cha Mẹ</option>
                                                <option value="2">Anh Chị</option>
                                                <option value="3">Cô Chú</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6" id="grpFamilyPhoneNumber">

                                            <label>Số điện thoại người thân</label>
                                            <input class="form-control col-lg-6" id="txtFamilyPhoneNumber" name="txtFamilyPhoneNumber" placeholder="Vui lòng nhập Số điện thoại " maxlength="15">
                                        </div>
                                        <div class="form-group col-lg-6" id="grpFamilyEmailAddress">
                                            <label>Địa chỉ Email</label>
                                            <input class="form-control " id="txtFamilyEmailAddress" name="txtFamilyEmailAddress" placeholder="Vui lòng nhập Email" maxlength="255">

                                        </div>
                                    </div>
                                </form>
                            </div>
                           
                        </div>
                        <div class="row">

                            <div class="row area-control">
                                <div class="col-sm-12">
                                    <div class="form-inline group-submit">
                                        <button type="button" class="btn btn-primary" id="btnAddFamilyMember" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseModalInsertFamilyMember();">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
        var minimumAged = "@ViewBag.intMinimumAged";
        var maximumAged = "@ViewBag.intMaximumAged";
    </script>
    <script>
        $(function () {
           
            $("#txtBirthday").datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true
            });
            $("#txtBirthday").val($.datepicker.formatDate('dd-mm-yy', new Date()));
        });
    </script>
    <script src="~/Scripts/CustomScripts/Students/StudentsInsertUpdate.js"></script>
}

