﻿@model DTO.StudentsDTO
@{
    ViewBag.Title = "Thông tin học sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Thông tin học sinh: <b>@((Model.LastName + " " + Model.FirstName).ToUpper())</b></h4>
    </div>
</div>
@using (Html.BeginForm("Update", "Students", FormMethod.Post, new { @id = "frmStudentsUpdate" }))
{
    <input type="hidden" id="hdStudentID" name="hdStudentID" value="@(Model.StudentID)" />

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"><b>Mã học sinh</b> </label>
                    <label class="header-control col-sm-9">@(Model.StudentID)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"><b>Tên học sinh</b>  </label>
                    <label class="header-control col-sm-2">@(Model.FirstName + " " + Model.LastName)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Ngày Sinh</b> </label>
                    <label class="header-control col-sm-2">@(Model.Birthday.ToString("dd-MM-yyyy"))</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Giới tính</b> </label>
                    @if (!String.IsNullOrEmpty(Model.Gender))
                    {
                        if (Model.Gender == "1")
                        {
                            <label class="header-control col-sm-2">Nam</label>
                        }
                        else
                        {
                            <label class="header-control col-sm-2">Nữ</label>

                        }

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Trình độ</b></label>
                    <label class="header-control col-sm-2">@(Model.Grade)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Năm nhập học</b></label>
                    <label class="header-control col-sm-2">@(Model.YearOfAdmission)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"><b>Năm Tốt Nghiệp </b> </label>
                    @if (String.IsNullOrEmpty(Model.GraduationYear) == true)
                    {
                        <label class="header-control col-sm-2">Chưa tốt nghiệp</label>
                    }
                    else
                    {
                        <label class="header-control col-sm-2">@Model.GraduationYear</label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Địa chỉ</b></label>
                    <label class="header-control col-sm-2">@(Model.Address)</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Quận/Huyện</b> </label>
                    <label class="header-control col-sm-1">@(Model.District)</label>
                    <label class="header-control col-sm-2"> <b>Tỉnh/Thành</b> </label>
                    <label class="header-control col-sm-1">@(Model.CityProvince)</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2"> <b>Quốc Gia</b> </label>
                    <label class="header-control col-sm-1">@(Model.Country)</label>
                    <label class="header-control col-sm-2"> <b>Mã Bưu điện</b> </label>
                    <label class="header-control col-sm-1">@(Model.PostalCode)</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-blue">
            <div class="panel-heading">
                Danh Sách Người Thân
            </div>

            <table width="100%" class="table table-striped table-bordered table-hover" id="tblFamilyList">
                <thead>
                    <tr>
                        <th style="width:5%">STT</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th style="width:10%">Mối quan hệ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.lstFamilyMember.Count > 0)
                    {
                        for (int i = 0; i < Model.lstFamilyMember.Count; i++)
                        {
                            <tr>
                                <td data-name='STT'> @(i + 1)</td>
                                <td data-name='txtFamilyName'> @Model.lstFamilyMember[i].Name </td>
                                <td data-name='txtFamilyPhoneNumber'> @Model.lstFamilyMember[i].PhoneNumber </td>
                                <td data-name='txtFamilyEmailAddress'>  @Model.lstFamilyMember[i].EmailAddress </td>
                                <td data-name='txtRelationship'>
                                    @if (Model.lstFamilyMember[i].Relationship == "1")
                                    {
                                        <span>Cha Mẹ</span>
                                    }
                                    @if (Model.lstFamilyMember[i].Relationship == "2")
                                    {
                                        <span>Anh Chị</span>
                                    }
                                    @if (Model.lstFamilyMember[i].Relationship == "3")
                                    {
                                        <span>Cô Chú</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="12" class="table-content-null">Hiện không có nội dung</td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
}

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            @if (ViewBag.EditPermission)
            {
                <button type="button" class="btn btn-primary" id="btnEdit" onclick="EditStudent();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>
            }
            
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

@section Scripts
{
    @*<script type="text/javascript">
            var visiblePages = "@ViewBag.intVisiblePages";
        </script>*@

    <script src="~/Scripts/CustomScripts/Students/StudentDetails.js"></script>
}

