﻿
@{
    ViewBag.Title = "Thêm Lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-blue">
    <div class="panel-heading">
        Thêm Lớp Học
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                @using (Html.BeginForm("InsertClasses", "Classes", FormMethod.Post, new { @id = "frmClassesInsert" }))
                {
          
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">

                            <label>Tên Lớp</label>
                            <input class="form-control col-lg-12" name="tbxClassName" id="tbxClassName" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">

                            <label>Khối:</label>
                            <select class="form-control" name="sltGrade" id="sltGrade">
                                <option selected='selected'>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>

                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <button type="submit" class="btn btn-primary" id="btnXacNhan" onclick="return validationform()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-check"></i>Xác nhận</button>
                        </div>

                        <div class="form-group col-lg-6">
                            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>


@section Scripts
{
    <script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
    </script>
<script src="~/Scripts/CustomScripts/Classes/InsertClasses.js"></script>
}

