﻿@{
    ViewBag.Title = "Trang quản lý điểm học sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />

        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <span id="containersltYear">
                            <select class="form-control" id="sltKeyWordYear" placeholder="Niên khóa" data-value="">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn niên học--</option>
                            </select>
                        </span>
                        <select class="form-control" id="sltKeyWordSemeter" placeholder="Học kỳ" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn học kỳ--</option>
                            <option value="1">Học kỳ: 1</option>
                            <option value="2">Học kỳ: 2</option>
                        </select>

                        <select class="form-control" id="sltKeyWordSubject" placeholder="Môn học" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn môn học--</option>
                        </select>

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <input class="form-control" id="txtKeyWord" placeholder="Tìm kiếm học sinh" data-value="" title="Tìm điểm cụ thể một học sinh bằng mã học sinh(Nếu ô để trống sẽ xuất danh sách toàn bộ học sinh và điểm trong lớp, niên học, học kỳ đã chọn)">
            </div>
        </div>
       
        </br>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" id="btnSearch" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
            </div>
        </div>
        </br>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Quản lý điểm học sinh
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblScore">
                        <thead>
                            <tr>
                                <th style="width:5%;">Mã học sinh</th>
                                <th style="width:5%;">Tên học sinh</th>
                                <th style="width:3%;">Niên học</th>
                                <th style="width:3%;">Học kỳ</th>
                                <th style="width:3%;">Điểm miệng</th>
                                <th style="width:3%;">Điểm 15 phút</th>
                                <th style="width:3%;">Điểm 1 tiết</th>
                                @if (ViewBag.EditPermission != false) { 
                                <th style="width:3%;" id="thProcessColumn">Xử lý</th>
                                }
                                
                            </tr>
                        </thead>
                        <tbody id="ContentScore">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>


<!-- Modal Điểm -->
<div class="modal fade" id="ModalScore" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseScoreEdit();">&times;</button>
                <h4 class="modal-title">Chỉnh sửa điểm</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-6">

                                            <label>Mã học sinh</label>
                                            <input class="form-control col-lg-6" id="txtStudentIDModal" readonly maxlength="50" value="">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Tên học sinh</label>
                                            <input class="form-control col-lg-6" id="txtStudentNameModal" readonly maxlength="50">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-4">

                                            <label>Niên học</label>
                                            <input class="form-control col-lg-6" id="txtYearModal" readonly maxlength="30">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Học kỳ</label>
                                            <input class="form-control col-lg-6" id="txtSemeterModal" readonly maxlength="30">

                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label>Môn học</label>
                                            <input class="form-control col-lg-6" id="txtSubjectModal" readonly maxlength="30">

                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group col-lg-4">

                                            <label>Điểm miệng</label>
                                            <input class="form-control col-lg-6" id="txtScore1Cell"  maxlength="30">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label>Điểm 15 phút</label>
                                            <input class="form-control col-lg-6" id="txtScore2Cell"  maxlength="30">

                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label>Điểm 1 tiết</label>
                                            <input class="form-control col-lg-6" id="txtScore3Cell"  maxlength="30">

                                        </div>
                                    </div>


                                </form>
                            </div>

                        </div>
                       
                        <!-- /.row (nested) -->

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnEditScore" onclick="ScoreEditProcess();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Xác nhận</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseScoreEdit();">Đóng</button>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/Scores/ManageScores.js"></script>

}

