﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <!-- MetisMenu CSS -->
    <link href="/Scripts/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Scripts/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/css/style-custom.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/Scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css" />
    <!-- DataTables CSS -->
    <link href="~/Scripts/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/Scripts/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Content/css/tablecss.css" rel="stylesheet" />
    <link href="~/Content/css/checkboxcustom.css" rel="stylesheet" />
    @RenderSection("heads", required: false)

</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Quản lý học sinh</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">       
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            @*<span><i class="fa fa-user fa-fw"></i> Xin chào, E001</span>*@
                            <a>Xin chào, <span id="NavWelcomeNameAcc">@HttpContext.Current.Session["Fullname"].ToString()</span></a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="~/doi-mat-khau"><i class="fa fa-user fa-fw"></i> Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a id="btnLogout" style="cursor: pointer;"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            @RenderPage("_LeftMenu.cshtml")
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Modal Logout -->
    <div class="modal fade" id="ModalLogout" role="dialog">
        <div class="modal-dialog" style="width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Logout</h4>
                </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <div class="modal-body">
                    Bạn có thật sự muốn được đăng xuất?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnLogoutTrue" data-dismiss="modal">Đăng xuất</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Library/notify.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Scripts/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Scripts/dist/js/sb-admin-2.js"></script>
    <script src="~/Scripts/CustomScripts/XMLJS/JSMenuXML.js"></script>
    <script src="~/Scripts/CustomScripts/LoginJS/Logout.js"></script>
    <script src="~/Scripts/Library/jquery.twbsPagination.js"></script>
    <script src="~/Scripts/Library/jquery.blockUI.js"></script>
    <script src="~/Scripts/Library/jquery.form.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script src="~/Scripts/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/datatables-responsive/dataTables.responsive.js"></script>
     <script src="~/Scripts/vendor/datatables/js/jquery.dataTables.min.js"></script>
   
    <script type="text/javascript">
        function showLoading(btnID) {
            $("#" + btnID).button('loading');
            $.blockUI({ message: null });
        }

        function hideLoading(btnID) {
            $("#" + btnID).button('reset');
            $.unblockUI();
        }
    </script>
    @*<script>
    $(document).ready(function() {
        $('#dataTables-example2').DataTable({
            responsive: true
        });
    });
    </script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
