﻿@{
    ViewBag.Title = "Thêm nhóm người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Nội dung chính</h4>
    </div>
</div>
@using (Html.BeginForm("InsertEmloyeeRoles", "EmloyeeRoles", FormMethod.Post, new { @id = "frmEmloyeeRolesInsert" }))
{
    <input type="hidden" id="hdFormType" name="hdFormType" value="Insert" />
    <input type="hidden" id="hdListPermission" name="hdListPermission" value="" />
    <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Tên nhóm người dùng</label>
                    <input class="form-control col-sm-9" style="width:60%;" id="txtRoleName" name="txtRoleName" maxlength="50">
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Phân quyền</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" id="btnInsertPermission" onclick="InsertPermission();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="btnInsertPermissionAll" onclick="InsertPermissionAll();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm tất cả</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-blue">
            <div class="panel-heading">
                quyền
            </div>

            <table width="100%" class="table table-striped table-bordered table-hover" id="tblPermission">
                <thead>
                    <tr>
                        <th style="width:8%;">Mã</th>
                        <th>Mô tả</th>
                        <th style="width:3%;"></th>
                    </tr>
                </thead>
                <tbody id="ContentPermission">
                    <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            <button type="button" class="btn btn-primary" id="btnInsert" onclick="InsertEmloyeeRoles();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-plus"></i>Thêm</button>
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

<!-- Modal quyền -->
<div class="modal fade" id="ModalPermission" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="CloseInsertPermission();">&times;</button>
                <h4 class="modal-title">Thêm quyền</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row area-control">
                            <div class="col-sm-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input class="form-control" id="txtKeyWord" placeholder="Nội dung tìm kiếm">
                                    </div>
                                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="SearchPermission();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-blue">
                                    <div class="panel-heading">
                                        quyền
                                    </div>

                                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblModelPermission">
                                        <thead>
                                            <tr>
                                                <th style="width:3%;">STT</th>
                                                <th style="width:8%;">Mã</th>
                                                <th>Mô tả</th>
                                                <th style="width:3%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ContentModelPermission">
                                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="divPaging" style="display:none;">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
                            </div>
                            <div class="col-sm-7" id="divPagingIndex">
                                <ul id="paging" class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="CloseInsertPermission();">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>

    <script src="~/Scripts/CustomScripts/EmloyeeRoles/InsertUpdateEmloyeeRoles.js"></script>
}

