﻿@model DTO.EmloyeeRolesDTO
@{
    ViewBag.Title = "Cập nhóm người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Nội dung chính</h4>
    </div>
</div>
@using (Html.BeginForm("UpdateEmloyeeRoles", "EmloyeeRoles", FormMethod.Post, new { @id = "frmEmloyeeRolesUpdate" }))
{
    <input type="hidden" id="hdRoleID" name="hdRoleID" value="@(Model.RoleID)" />

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Mã nhóm người dùng: </label>
                    <label class="header-control col-sm-9">@(Model.RoleID)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-inline">
                    <label class="header-control col-sm-2">Tên nhóm người dùng: </label>
                    <label class="header-control col-sm-9">@(Model.RoleName)</label>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">Phân quyền</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-blue">
            <div class="panel-heading">
                quyền
            </div>

            <table width="100%" class="table table-striped table-bordered table-hover" id="tblPermission">
                <thead>
                    <tr>
                        <th style="width:8%;">Mã</th>
                        <th>Mô tả</th>
                    </tr>
                </thead>
                <tbody id="ContentPermission">
                    @if (Model.lstPermission != null && Model.lstPermission.Count() > 0)
                    {
                        for (int i = 0; i < Model.lstPermission.Count(); i++)
                        {
                            <tr id="tr_@Model.lstPermission[i].IDKey">
                                <td data-name="idkey">@Model.lstPermission[i].IDKey</td>
                                <td data-name="description">@Model.lstPermission[i].KeyDescription</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="row area-control">
        <div class="form-inline group-submit">
            @if(ViewBag.UpdatePermission != false)
            {
                <button type="button" class="btn btn-primary" id="btnEdit" onclick="EditEmloyeeRoles();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-pencil"></i>Chỉnh sửa</button>
            }
            
            <button type="button" class="btn btn-default" id="btnBack" onclick="BackManage();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-remove"></i>Bỏ qua</button>
        </div>
    </div>
</div>

@section Scripts
{
    @*<script type="text/javascript">
        var visiblePages = "@ViewBag.intVisiblePages";
    </script>*@

    <script src="~/Scripts/CustomScripts/EmloyeeRoles/DetailEmloyeeRoles.js"></script>
}

