﻿
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="panel panel-blue">
    <div class="panel-heading">
        Đổi mật khẩu
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <form role="form">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">

                            <label>UseName:</label>
                            <input class="form-control col-lg-6" readonly value="@((string)Session["Username"])">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-12">

                            <label>Mật khẩu cũ:</label>
                            <input class="form-control col-lg-6" type="password" id="tbxMKCu" placeholder="Mật khẩu không ít hơn 5 ký tự">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">

                            <label>Mật khẩu mới:</label>
                            <input class="form-control" type="password" id="tbxMKMoi" value="" placeholder="Mật khẩu không ít hơn 5 ký tự">
                        </div>

                        <div class="form-group col-lg-6">

                            <label>Xác nhận mật khẩu mới:</label>
                            <input class="form-control" type="password" id="tbxMKXNMoi" value="" placeholder="Mật khẩu không ít hơn 5 ký tự">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-6">
                            <button type="button" class="btn btn-primary" id="btnXacNhan" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-check"></i>Xác nhận</button>          
                        </div>

   
                    </div>
                </form>
            </div>

        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>






<!-- Modal xác nhận xóa -->
<div class="modal fade" id="ModalConfirmPass" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <div> Đổi mật khẩu thành công, nhấn xác nhận để đến trang chủ.</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="RedirectToIndex();">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/CustomScripts/LoginJS/ChangePass.js"></script>
}
