﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
       <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        Chào mừng đến với hệ thống quản lý học sinh
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover">

                        <tbody>
                            <tr><td colspan="12" class="table-content-null">Nếu đây là lần đầu tiên đăng nhập, xin hãy nhanh chóng thay đổi mật khẩu theo hướng dẫn sau để bảo vệ tài khoản:
                                </br>

                                    <img src="~/Content/image/Change-pass-img-tut01.jpg" width="789"/>
                                
                                </td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                       Hướng dẫn chung cho các chức năng quản lý
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover">

                        <tbody>
                            <tr>
                                <td colspan="12" class="table-content-null">

                                    <img src="~/Content/image/img-tut02.jpg" width="789" />

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


