﻿@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 10%"><img src="~/Content/image/logo-khtn.png" width="378" height="297" /></div>
        <div class=" col-md-4" style="margin-top: 7%">
            <div class="login-panel panel panel-default">
                @*<div class="panel-heading">
                        <h3 class="panel-title">Đăng nhập</h3>
                    </div>*@
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Tên đăng nhập" id="inptUsername" name="Username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Mật khẩu" id="inptPass" name="password" type="password" value="">
                            </div>
                            <div class="form-group">
                                <a style="float:right;" href="/quen-mat-khau">Quên mật khẩu</a>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" id="btnlogin" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý">Đăng nhập</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/CustomScripts/LoginJS/Login.js"></script>
}

