﻿@model string
@{
    ViewBag.Title = "PrintReport";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>In báo cáo tổng kết học kỳ</title>
</head>
<body>
    <div>
        <h1 style="text-align:center;text-transform:uppercase;">báo cáo tổng kết học kỳ</h1>
        @Html.Raw(ViewBag.strHTMLManageReport)
    </div>
</body>
</html>

<script type="text/javascript">
    window.onload = new function () {
        window.print();
        setTimeout(function () { window.close(); }, 500);
    };
</script>



