﻿
@{
    ViewBag.Title = "Báo cáo tổng kết môn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="hdCurrentPage" name="hdCurrentPage" value="" />

        <div class="row area-control">
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">
                        <span id="containersltYear">
                            <select class="form-control" id="sltKeyWordYear" placeholder="Niên khóa" data-value="">
                                <option disabled='disabled' selected='selected'>--Xin lựa chọn niên khóa học--</option>
                            </select>
                        </span>
                        <select class="form-control" id="sltKeyWordSemeter" placeholder="Học kỳ" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn học kỳ--</option>
                            <option value="1">Học kỳ: 1</option>
                            <option value="2">Học kỳ: 2</option>
                        </select>
                        <select class="form-control" id="sltKeyWordSubject" placeholder="Môn học" data-value="">
                            <option disabled='disabled' selected='selected'>--Xin lựa chọn môn học--</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnSearch" onclick="SearchReport2();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        báo cáo tổng kết môn học
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="tblReport">
                        <thead>
                            <tr>
                                <th style="width:3%;">STT</th>
                                <th style="width:5%;">Lớp</th>
                                <th style="width:3%;">Sĩ Số</th>
                                <th style="width:3%;">Số lượng đạt</th>
                                <th style="width:3%;">Tỷ lệ</th>
                            </tr>
                        </thead>
                        <tbody id="ContentReport">
                            <tr><td colspan="12" class="table-content-null">Hiện không có nội dung</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" id="divPaging" style="display:none;">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Chỉ số phần tử <span id="page-from-index"></span> đến <span id="page-to-index"></span> trên <span id="total-record"><span>phần tử</div>
            </div>
            <div class="col-sm-6" id="divPagingIndex">
                <ul id="paging" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var visiblepages = "@ViewBag.intVisiblePages";
    </script>
    <script src="~/Scripts/CustomScripts/ReportSemeter/ManageReportSemeter.js"></script>
    <script src="~/Scripts/CustomScripts/ExcelExport/jquery.table2excel.js"></script>
    
}


