﻿@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
        margin-top: 5%;
    }

    .button {
        margin: auto;
        margin-top: 10%;
        width: 50%;
    }
</style>

@using (Html.BeginForm("SendPass", "Home", FormMethod.Post, new { @id = "frmResetPass" }))
{
    <div class="panel panel-default center">
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <div class="form-inline">
                            <h4 class="page-header">Quên mật khẩu</h4>
                            <label class="header-control col-sm-3">Tên đăng nhập</label>
                            <input class="form-control col-sm-8" style="width:60%;" id="txtUsername" name="txtUsername" maxlength="50" autofocus="">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block button" id="btnResetPass" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang xử lý">Lấy lại mật khẩu</button>
                </fieldset>
            </form>
        </div>
    </div>
}

<!-- Modal thông báo gửi mật khẩu mặc định thành công -->
<div class="modal fade" id="ModalSendPass" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Thông báo</h4>
            </div>

            <div class="modal-body">
                <div id="divMessage" data-id="">Mật khẩu mới đã được gửi đến email của bạn!</div>
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="DeleleEmployeeRoles();">Đồng ý</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ConfirmSuccessReset();">Đóng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Library/jquery.blockUI.js"></script>
    <script src="~/Scripts/CustomScripts/ResetPass/ResetPass.js"></script>
}
